In [1]:
# NSE: National Stock Exchange 
# give .NS to extract data from NSE

In [2]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas_datareader) (1.3.3)
Requirement already satisfied: lxml in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\siddharth_black_pred\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\siddharth_black_pred\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas_datareader.data as web

In [6]:
# SBIN.NS 
# yahoo finance 
# start : data starting point 
# end : upto what date we want to import 
df = web.DataReader('SBIN.NS','yahoo',start = '2020-01-01', end = '2021-01-01')  
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-01,335.950012,332.149994,334.700012,334.450012,17379320.0,331.390442
2020-01-02,339.850006,333.350006,334.500000,339.299988,20324236.0,336.196045
2020-01-03,337.950012,332.000000,337.950012,333.700012,21853208.0,330.647308
2020-01-06,331.700012,317.700012,331.700012,319.000000,35645325.0,316.081757
2020-01-07,327.000000,315.399994,324.450012,318.399994,50966826.0,315.487244
...,...,...,...,...,...,...
2020-12-28,276.000000,268.000000,268.750000,275.200012,36870242.0,272.682465
2020-12-29,279.899994,274.700012,276.299988,277.899994,45032526.0,275.357758
2020-12-30,278.700012,272.500000,278.000000,276.899994,30971894.0,274.366882
2020-12-31,277.250000,272.600006,275.000000,274.950012,29467966.0,272.434753
2021-01-01,280.000000,274.399994,274.899994,279.399994,24531791.0,276.844025

In [7]:
companies_list = ['SBIN.NS','ICICIBANK.NS','ITC.NS'] 
df = web.DataReader(companies_list,'yahoo', start = '2020-01-01', end = '2021-01-01') 
df

Attributes   Adj Close                                Close               \
Symbols        SBIN.NS ICICIBANK.NS      ITC.NS     SBIN.NS ICICIBANK.NS
Date
2020-01-01  331.390442   535.182983  215.226990  334.450012   536.750000
2020-01-02  336.196045   539.021667  216.808868  339.299988   540.599976
2020-01-03  330.647308   537.276794  215.588562  333.700012   538.849976
2020-01-06  316.081757   524.165222  212.515182  319.000000   525.700012
2020-01-07  315.487244   521.373413  212.741165  318.399994   522.900024
...                ...          ...         ...         ...          ...
2020-12-28  272.682465   518.581543  199.111771  275.200012   520.099976
2020-12-29  275.357758   527.256165  201.060120  277.899994   528.799988
2020-12-30  274.366882   527.206299  200.679947  276.899994   528.750000
2020-12-31  272.434753   533.487915  198.636551  274.950012   535.049988
2021-01-01  276.844025   525.959961  203.246078  279.399994   527.500000

Attributes                    High                                  Low  \
Symbols         ITC.NS     SBIN.NS ICICIBANK.NS      ITC.NS     SBIN.NS
Date
2020-01-01  238.100006  335.950012   542.500000  238.600006  332.149994
2020-01-02  239.850006  339.850006   541.900024  240.949997  333.350006
2020-01-03  238.500000  337.950012   540.799988  241.000000  332.000000
2020-01-06  235.100006  331.700012   537.250000  238.300003  317.700012
2020-01-07  235.350006  327.000000   535.599976  237.899994  315.399994
...                ...         ...          ...         ...         ...
2020-12-28  209.500000  276.000000   521.200012  210.199997  268.000000
2020-12-29  211.550003  279.899994   530.799988  213.500000  274.700012
2020-12-30  211.149994  278.700012   533.000000  213.500000  272.500000
2020-12-31  209.000000  277.250000   538.500000  211.300003  272.600006
2021-01-01  213.850006  280.000000   537.000000  214.199997  274.399994

Attributes                                 Open                           \
Symbols    ICICIBANK.NS      ITC.NS     SBIN.NS ICICIBANK.NS      ITC.NS
Date
2020-01-01   535.700012  237.100006  334.700012   539.900024  238.600006
2020-01-02   535.849976  238.100006  334.500000   536.000000  238.199997
2020-01-03   536.250000  238.000000  337.950012   538.000000  241.000000
2020-01-06   523.799988  235.000000  331.700012   537.250000  237.500000
2020-01-07   521.650024  234.600006  324.450012   531.299988  236.050003
...                 ...         ...         ...          ...         ...
2020-12-28   513.599976  207.850006  268.750000   515.900024  209.000000
2020-12-29   517.849976  210.100006  276.299988   522.549988  210.500000
2020-12-30   524.549988  209.550003  278.000000   531.650024  212.699997
2020-12-31   526.500000  208.550003  275.000000   530.099976  210.550003
2021-01-01   526.099976  209.300003  274.899994   535.549988  209.899994

Attributes      Volume
Symbols        SBIN.NS ICICIBANK.NS      ITC.NS
Date
2020-01-01  17379320.0    7642793.0   4208837.0
2020-01-02  20324236.0   10264223.0   8402979.0
2020-01-03  21853208.0    9594690.0   9284478.0
2020-01-06  35645325.0   12534334.0   7636617.0
2020-01-07  50966826.0   16101835.0   8416741.0
...                ...          ...         ...
2020-12-28  36870242.0   14470472.0  15741000.0
2020-12-29  45032526.0   19092649.0  26546469.0
2020-12-30  30971894.0   21365141.0  18925262.0
2020-12-31  29467966.0   27817770.0  18245270.0
2021-01-01  24531791.0   13592625.0  19527333.0

[251 rows x 18 columns]

In [10]:
temp_df = df.loc[:,(slice(None), 'SBIN.NS')] 
temp_df.columns =  ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']  
temp_df

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2020-01-01,331.390442,334.450012,335.950012,332.149994,334.700012,17379320.0
2020-01-02,336.196045,339.299988,339.850006,333.350006,334.500000,20324236.0
2020-01-03,330.647308,333.700012,337.950012,332.000000,337.950012,21853208.0
2020-01-06,316.081757,319.000000,331.700012,317.700012,331.700012,35645325.0
2020-01-07,315.487244,318.399994,327.000000,315.399994,324.450012,50966826.0
...,...,...,...,...,...,...
2020-12-28,272.682465,275.200012,276.000000,268.000000,268.750000,36870242.0
2020-12-29,275.357758,277.899994,279.899994,274.700012,276.299988,45032526.0
2020-12-30,274.366882,276.899994,278.700012,272.500000,278.000000,30971894.0
2020-12-31,272.434753,274.950012,277.250000,272.600006,275.000000,29467966.0
2021-01-01,276.844025,279.399994,280.000000,274.399994,274.899994,24531791.0

In [11]:
companies_list = ['SBIN.NS','ICICIBANK.NS','ITC.NS']  
for company in companies_list: 
    COMPANY = df.loc[:,(slice(None),company)] 
    COMPANY.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']  
    COMPANY.to_csv(f'{company}.csv')